* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #070606;
  background-color: hsl(220, 10%, 94%);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: white;
  box-shadow: 0 2px 10px rgb(118, 131, 230);
  position: sticky;
  top: 0;
}

.logo {
  font-weight: 600;
  font-size: 1.5em;
  color: #517eb2;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #090101;
}

.btn {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: #4879ab;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background: hsl(195, 18%, 96%);
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.9em;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #2a44b8;
}

.hero-img {
  width: 40%;
  border-radius: 15px;
}

/* About */
.about {
  text-align: center;
  padding: 80px 60px;
}

/* Services */
.services {
  text-align: center;
  padding: 60px;
}

.service-grid {
  display: grid;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #f2f2f6;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(115, 128, 189);
}

.card:hover {
  transform: translateY(-5px);
}

/* Experts */
.experts {
  text-align: center;
  padding: 60px;
  background-color: #f0f6ff;
}

.expert-grid {
  display: grid;
  gap: 25px;
  margin-top: 30px;
}

.expert-card {
  background: rgb(245, 240, 240);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgb(49, 71, 181);
}

.expert-card img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* Contact */
.contact {
  text-align: center;
  padding: 60px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #4A90E2;
  color: white;
  margin-top: 40px;
}
